<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>CSRF-A</title>
</head>
<body>
<h1>Website A</h1>
<main>
    <div>Now the name is: <%- name %> </div>
    <a href="http://csrf-attacker.surge.sh">csrf link</a>
</main>
</body>
</html>
